<div class='input'>
    <label class='input__container input__container{{modificator}} '>
        <input
            class='input__element input__element{{modificator}} {{#if isError}}input__error{{/if}}'
            type={{type}}
            name={{name}}
            placeholder=""
            {{#if value}} value={{value}} {{/if}}
            {{#if readonly}} readonly {{/if}}
            
        />
        <div class='input__label{{modificator}}'>{{label}}</div>
    </label>
    {{#if isError}}<div class='input__error-text'>{{error}}</div>{{/if}}
</div>