<div class='container'>
	<div class='profile__back'>
		{{{Button src=arrow withIcon=true type='icon' alt='Назад'}}}
	</div>
	<div class='profile__container'>
		<div class='profile__header'>
			{{{Avatar src=defaultAvatar alt='Поменять аватар' size='big'}}}
			{{{Title label='Иван' type='h1'}}}
		</div>
		<div class='profile__info-block'>
			{{{InputField name='oldPassword' ref='oldPassword'  type='password' label='Старый пароль' modififcator='_inline' validate=validators.password }}}
			{{{InputField name='newPassword' ref='newPassword'  type='password' label='Новый пароль' modififcator='_inline' validate=validators.password }}}
		</div>

		<div class='profile__footer-block'>
			{{{Button type='primary' label='Сохранить' onClick=onSave ref='saveButton'}}}
		</div>

			

		</div>
	</div>
</div>