<div class='container'>
	{{{CreateDialog ref='currentDialog'}}}
	<div class='profile__back'>
		{{{Button src=arrow withIcon=true type='icon' alt='Назад' onClick=goChat}}}
	</div>
	<div class='profile__container'>
		<div class='profile__header'>
			{{{Button
				src=avatar
				alt='Поменять аватар'
				type='avatar'
				ref='profileAvatar'
				withIcon=true
				onClick=openChangeAvatarDialog
			}}}
			{{{Title label='Иван' type='h1' ref='title'}}}
		</div>
		<div class='profile__info-block'>
			{{{PersonalData personalData=personalData ref='data'}}}
		</div>

		<div class='profile__footer-block'>
			{{{Button type='secondary' label='Изменить данные' onClick=changeMyData}}}
			{{{Button type='secondary' label='Изменить пароль' onClick=changePass}}}
			{{{Button type='error' label='выйти' onClick=logout}}}
		</div>

		<div class='pofile__save-block'>
			{{{Button type='primary' label='Сохранить' onClick=onSave ref='saveButton'}}}

		</div>
	</div>
</div>