<div class='container'>
	{{{CreateDialog ref='currentDialog'}}}

	<div class='chat-page__contacts-block'>

		<div class='chat-page__contacts-block-header'>
			<form class='chat-page__search-form'>
				{{{Field name='_search' placeholder='Поиск'}}}
			</form>

			{{{Button type='with-icon' label='Профиль' withIcon='true' src=larger alt='>'}}}
		</div>

		{{#ListContacts contacts=chats}}{{/ListContacts}}
		{{{AddChatButton dialog=dialog}}}
	</div>

	<div class='chat-page__chat-block'>

		<div class='chat-page__header-container'>
			<div class='chat-page__info'>

				{{{Avatar size='middle' src=avatar alt='аватар Kris'}}}
				{{{Title label='Kris' type='h1'}}}
			</div>

			{{{Button type='icon' src=dots withIcon=true alt='Настройки'}}}

		</div>

		{{{ChatDropdown ref='userControl' dialog=dialog}}}

		<div class='chat-page__messages-block'>
			{{#ListMessages}}{{/ListMessages}}
		</div>

		<div class='chat-page__footer'>
			<div class='message-bar'>
				{{{Button src=clip withIcon=true type='icon' alt='Прикрепить файл' onclick=addFile}}}
				{{{MessageBar ref='message' onSend=onSend}}}
				{{{Button src=arrow withIcon=true type='icon' alt='Отправить' onClick=onSend}}}
			</div>
		</div>
	</div>
</div>