<div class='chat-page'>
	{{{Dialog ref='currentDialog'}}}

	<div class='chat-page__contacts-block'>

		<div class='chat-page__contacts-block-header'>
			<form class='chat-page__search-form'>
				{{{Field name='_search' placeholder='Поиск'}}}
			</form>

			{{{Button type='with-icon' label='Профиль' withIcon='true' src=larger alt='>' onClick=goProfile}}}
		</div>

		{{#ListContacts contacts=chats}}{{/ListContacts}}
		{{{AddChatButton dialog=dialog}}}
	</div>

	<div class='chat-page__chat-block'>

		<div class='chat-page__header-container'>
			<div class='chat-page__info'>

				{{{Avatar size='middle' ref='currentChatAvatar' alt='аватар'}}}
				{{{Title type='h1' ref='chatTitle'}}}
			</div>

			{{{Button type='icon' src=dots withIcon=true alt='Настройки'}}}

		</div>

		{{{ChatDropdown ref='userControl' dialog=dialog currentChat=currentChat}}}

		<div class='chat-page__messages-block'>
			{{{ListMessages ref='listMessages'}}}
		</div>

		<div class='chat-page__footer'>
			<div class='message-bar'>
				{{{Button src=clip withIcon=true type='icon' alt='Прикрепить файл' onclick=addFile}}}
				{{{MessageBar ref='message' onSend=onSend}}}
				{{{Button src=arrow withIcon=true type='icon' alt='Отправить' onClick=onSend}}}
			</div>
		</div>

	</div>
</div>