<div class='container'>

	<div class='chat-page__contacts-block'>

		<div class='chat-page__contacts-block-header'>
			<form class='chat-page__search-form'>
				{{{Field name='search' placeholder='Поиск'}}}
			</form>

			{{{Button type='with-icon' label='Профиль' withIcon='true' src=larger alt='>'}}}
		</div>

		{{#ListContacts contacts=contacts}}{{/ListContacts}}

	</div>
	{{!-- <div class='chat-page__chat-block'>

		<div class='chat-page__header-container'>
			<div class='chat-page__info'>

				<img class='chat-page__avatar' src={{avatar}} alt='аватар Kris' />
				{{{Heading label='Kris' type='h1'}}}
			</div>

			{{{Button type='icon' src=dots withIcon=true alt='Настройки'}}}

		</div>

		{{!-- <div class="chat-page__messages-block">
            {{> ListMessages}}
        </div >

        <div  class="chat-page__footer">
            {{> MessageBar}}
        </div > --}}
	</div>
</div> --}}